<h1>THE RANKING</h1>
<%= link_to 'NEW SUBMISSION', new_submission_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.title %></td>
      <td><%= submission.text %></td>
      <td><%= link_to 'Show', submission_path(submission) %></td>
      <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
      <td><%= link_to 'Destroy',
                             submission_path(submission),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', controller: 'welcome' %>